<%- include('../partials/header'); %>

<div id="page-product">
    <div>
        <p><%= product.name %></p>
        <p><%= product.img %></p>
        <p><%= product.price %></p>
    </div>
</div>

<%- include('../partials/footer'); %>
